# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.Spring Is In The Air.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\240 GB SSD Patriot Burst\SSD projects\Spring Is In The Air\.idea\.idea.Spring Is In The Air\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
